body {
	font-family: 'PT Sans', sans-serif;
	color: #565554;
	font-weight: 300;
	background-color: #f6f2e9;
}

.text-muted {
	color: #777;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 30px;
	color: #312409;
	letter-spacing: 0.1em;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
	text-transform: none;
	margin-top: 10px;
}

footer {
	margin-bottom: 20px;
}

.navbar-default {
	margin-top: 20px;
}

.navbar {
	border: none;
}

.navbar-toggle {
	float: left;
}

.container-fluid {
	background-color: #f6f2e9;
}